.obsidian/
.obsidian-mobile/
.trash/
*.ini
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/plugins/fantasy-calendar/data.json
.obsidian/themes/Wikipedia/manifest.json
.obsidian/themes/Wikipedia/theme.css
.obsidian/workspace.json
